.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: auto;
  /* border: solid rgb(209, 20, 20); */
  margin: 5vh;
  padding: 1vw;
  box-shadow: 1px 10px 20px 2px grey;
}

.card-gauche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  /* border: solid black; */
  width: 100%;
  height: 100%;
}
.card-droite {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: auto;
  /* border: solid blue; */
  width: 100%;
  height: 100%;
}
.company {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
