.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: url("../../../public/img/bg-header-desktop.svg");
}
.route {
  position: relative;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 600;
  color: black;
}
.svg {
  position: absolute;
  width: 100%;
}
