.listing {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: 100%;
  margin: auto;
}
.container-archive {
  display: flex;
  justify-content: center;
  align-items: center;
}
